.wel{
    font-family: fantasy;
    color: saddlebrown;
    font-size: 60px;
}

.enter{
    font-family: fantasy;
    color: black;
    font-size: 40px;
}

.num{
    height: 20px;
    width: 300px;
}

.but{
    height: 30px;
    width: 80px;
    font-family: fantasy;
    font-size: 25px;
}